.formPanel {
  display: flex;
  gap: 36px;
  width: 100%;
  justify-content: center;
  input {
    width: 26%;
    padding: 20px;
    border-radius: 30px;
    background: rgba(30, 30, 30, 1);
    border: none;
  }
}
@media (max-width: 750px) {
  .formPanel {
    flex-direction: column;
    align-items: center;
    input {
      width: 100%;
    }
  }
  h1 {
    width: 100%;
    font-size: 24px;
  }
  h2 {
    width: 100%;
    font-size: 14px;
  }
}
