.formSection {
  position: relative;
  padding: 100px 0px;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 46px;
      font-weight: 700;
      text-align: center;
      width: 75%;
    }
    h2 {
      padding: 20px 0px 40px;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      width: 50%;
    }

    .formPanel {
      display: flex;
      gap: 36px;
      width: 100%;
      justify-content: center;
      input {
        width: 26%;
        padding: 20px;
        border-radius: 30px;
        background: rgba(30, 30, 30, 1);
        border: none;
      }
    }
  }

  @media (max-width: 750px) {
    .container {
      .formPanel {
        flex-direction: column;
        align-items: center;
        input {
          width: 50%;
        }
      }
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 750px) {
    .container {
      .formPanel {
        flex-direction: column;
        align-items: center;
        input {
          width: 100%;
        }
      }
      h1 {
        width: 100%;
        font-size: 24px;
      }
      h2 {
        width: 100%;
        font-size: 14px;
      }
    }
  }

  @media (max-width: 750px) {
    .container {
      .formPanel {
        flex-direction: column;
        align-items: center;
        input {
          width: 50%;
        }
      }
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 750px) {
    .container {
      h1 {
        width: 100%;
        font-size: 24px;
      }
      h2 {
        width: 100%;
        font-size: 14px;
      }
    }
  }

  @media (max-width: 500px) {
    padding: 50px 0px;
  }
}

.formSection::after {
  content: "";
  background-image: url("/src/assets/detail.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.03;
  position: absolute;
  z-index: -1;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0px;
  @media (max-width: 1000px) {
    top: 40%;
  }
  @media (max-width: 876px) {
    top: 60%;
  }

  @media (max-width: 750px) {
    top: 70%;
  }
  @media (max-width: 430px) {
    top: 75%;
    transform: translate(-20%, -20%) scale(1.4);
  }

  @media (max-width: 370px) {
    top: 80%;
    transform: translate(-50%, -50%) scale(2);
  }
}

.formSection::before {
  content: "";
  background-image: url("/src/assets/detail.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.03;
  position: absolute;
  z-index: -1;
  transform: rotate(180deg);
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 30%;
  @media (max-width: 1000px) {
    bottom: 40%;
  }

  @media (max-width: 876px) {
    bottom: 60%;
  }
  @media (max-width: 750px) {
    bottom: 70%;
  }
  @media (max-width: 430px) {
    bottom: 75%;
    transform: translate(20%, 20%) scale(1.4) rotate(180deg);
  }

  @media (max-width: 370px) {
    bottom: 80%;
    transform: translate(50%, 50%) scale(2) rotate(180deg);
  }
}
