.navigator {
  display: none;
}

@media (max-width: 600px) {
  .navigator {
    display: block;
    background: rgba(30, 30, 30, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    padding: 4px 0px;
    .first {
      transform: rotate(180deg);
    }
  }
}
